{{ define "main" }}
<article class="markdown book-article">
  <div class="list-header">
    <h1><i class="fa-solid fa-pen-nib"></i> Posts</h1>
    <p>전체 글 <em class="list-count">{{ len .Pages }}</em></p>
  </div>

  {{ $paginator := .Paginate .Pages.ByDate.Reverse 10 }}

  <div class="post-list">
    {{ range $paginator.Pages }}
      {{ partial "docs/post-item.html" . }}
    {{ end }}
  </div>

  {{ partial "docs/pagination.html" $paginator }}
</article>
{{ end }}

{{ define "toc-container" }}
<aside class="book-toc">
  <div class="book-toc-content">
    {{ template "toc" . }}
  </div>
</aside>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}
